.fa {
    cursor: pointer;
    font-size: 25px;
    margin: 0px 2px;
}

.fa.fa-trash {
    color: #a71c28;
}

.cardL {
    display: flex;
    justify-content: center;
}

.cardList {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    /*background-color: #f1f1f1;*/
}
  
  span {
    font: 800 40px system-ui;
  }

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
  }
  
  h4{
    font-weight: bold;
    font-size: 28px;
  }
