<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <nav>
    <input type="checkbox" id="nav-toggle">
    <h1 class="logo"><a routerLink="/web">UPS</a></h1>
    <ul class="links">
      <li class="active"><a routerLink="/web">Inicio</a></li>
        <li><a routerLink="/grafica1">Datos y Estadísticas</a></li>
        <li><a href="">Articulos</a></li>
        <li><a routerLink="/register">Quiero ser miembro</a></li>
        <li><a routerLink="/listCuestionarios">Test</a></li>
        <li><a routerLink="/login">Acceder</a></li>
    </ul>
    <label for="nav-toggle" class="icon-burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </label>
  </nav>
</header>
<!-- End Header -->
