<div>
  <h1 class="text-center">
    {{ tituloCuestionario }}
  </h1>
  <h6 class="text-center">
    {{ descripcionCuestionario }}
  </h6>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">

        <h3 class="card-title text-center">Listado Preguntas</h3>
        <hr>
        <div *ngIf="listPreguntas.length == 0">
          <h6>No hay preguntas que mostrar</h6>
        </div>

      </div>

    </div>
  </div>

  <!-- Inicio Card de Nueva Pregunta -->
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">

        <h3 class="card-title text-center">
          Nueva Pregunta
        </h3>
        <hr>
        <app-nueva-pregunta (enviarPregunta)="guardarPregunta($event)"></app-nueva-pregunta>
      </div>

    </div>
  </div>
  <!-- Fin Card de Nueva Pregunta -->
</div>
<button class="btn btn-success btn-lg btnFinalizar" [disabled]="listPreguntas.length == 0">Finalizar Cuestionario</button>
