<!-- ============================================================== -->
<!-- Topbclass="pi pi-check"ar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<p-sidebar [(visible)]="display" style="height: 100%"> 
    <div class="navigation">
        
        <ul class="list">
            <li *ngFor="let item of sidebarService.menu">
                <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                    [class]="item.icono"></i>
                    <span >
                        {{ item.titulo }}
                        
                    </span></a>
                    <ul>
                        <li class="pi pi-chevron-right space" *ngFor="let subMenuItem of item.submenu">
                            <a [routerLink]="subMenuItem.url" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }">
                            {{ subMenuItem.titulo }}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
     
</p-sidebar>
<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse">

            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" style="margin-right: 55px;">
                    <div class="fadein"> <a href="/web">
                            <img id="f3" src="/assets/images/LOGO_UPS_opt2.png" alt="..." width="70px">
                            <img id="f2" src="/assets/images/logo_grupo.png" alt="..." width="70px"></a>
                    </div>
                </li>
                <!-- This is  -->
                <li class="nav-item">
                    <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" (click)="display = true"><i
                            class="ti-menu"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark"
                        (click)="display = true"><i class="ti-menu"></i></a>
                </li>
                <li class="nav-item hidden-sm-down"></li>
            </ul>
            <ul class="navbar-nav my-lg-0">


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><img [src]="usuario.imagenUrl" alt="user"
                            class="profile-pic" /></a>
                    <div class="dropdown-menu dropdown-menu-right animated fadeIn">
                        <ul class="dropdown-user">
                            <li>
                                <div class="dw-user-box">
                                    <div class="u-img">
                                        <img [src]="usuario.imagenUrl" alt="user" />
                                    </div>
                                    <div class="u-text">
                                        <h4>{{ usuario.nombre }}</h4>
                                        <p class="text-muted">
                                            {{ usuario.email | slice:0:20 }}{{ (usuario.email.length > 20) ? '...': ''
                                            }}
                                        </p>
                                        <!-- <a
                      href="pages-profile.html"
                      class="btn btn-rounded btn-danger btn-sm"
                      >View Profile</a
                    > -->
                                    </div>
                                </div>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a routerLink="./perfil"><i class="ti-user"></i> Mi Perfil</a>
                            </li>
                            <!-- <li>
                                <a href="#"><i class="ti-wallet"></i> My Balance</a>
                            </li> -->
                            <!-- <li>
                                <a routerLink="./buzon"><i class="ti-email"></i> Bandeja</a>
                            </li> -->
                            <!-- <li role="separator" class="divider"></li>
                            <li>
                                <a routerLink="account-settings" routerLinkActive="router-link-active"><i class="ti-settings"></i> Account Setting</a>
                            </li> -->
                            <li role="separator" class="divider"></li>
                            <li>
                                <a (click)="logout()">
                                    <i class="fa fa-power-off"></i> Cerrar Sesión
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- ============================================================== -->
<!-- End Topbar header -->