@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
.logogih4{
    border-radius: 50px;
    width: 50px;
    height: 50px;
    
}


a {
    align-items: center;
}


.fadein {
    /* position:absolute; */
    top:0px;
    left:50%;
    margin:auto;
  }
  .fadein img {
    position:absolute;
    left:0px;
    top:0px;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 6s;
  }
  
  @-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
  }
  @keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
  }
  
  #f2 {
    -webkit-animation-delay: -4s;
  }
  #f3 {
    -webkit-animation-delay: -2s;
  }

  .navigation {
    /* position: fixed;
    inset: 20px 0 20px 20px;
    width: 75px;
    min-height: 500px;
    background: #fff;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center; */

    display: flex;
    height: 450px;

  }

  .navigation ul {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    justify-content: space-around;
  }

  .navigation ul li {
    list-style: none;
    font-size: 20px;

  }

  .space {
    padding-top: 25px;
  }