<app-navbar></app-navbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <br /><br /><br /><br />
    <dl>CUESTIONARIOS</dl>
    <div *ngFor="let cuestionario of listCuestionarios">
      <hr />
      <div class="buttonC">
        <p (click)="getListCuestionarioById(cuestionario._id)">
          {{ cuestionario.nombre }}
        </p>
      </div>
    </div>
    <br /> <br /> <br />
    <div class="center">
      <button class="noselect red" (click)="obtenerPromedio()" *ngIf="listCuestionarios.length > 0">
        Nivel MMTD
      </button>
    </div>


    <span>{{ madurez }}</span>
  </mat-drawer>

  <div class="controls">
    <div class="space">
      <label for="">Seleccione la pregunta</label>
      <input list="pre" [(ngModel)]="pregunta" (change)="mostrar()" />
      <datalist id="pre">
        <option *ngFor="let p of texto" [value]="p">{{ p }}</option>
      </datalist>
  
      <label class="text" for="">Seleccione el tipo de grafica</label>
      <select id="cursos" [formControl]="tipo">
        <option value="line">Lineal</option>
        <option value="bar">Barra</option>
        <option value="polarArea">Polar Area</option>
        <option value="pie">Pie</option>
        <option value="horizontalBar">Barra Horizontal </option>
      </select>
    </div>
  </div>
  <button class="noselect red" type="button" mat-button (click)="drawer.toggle()">
    <<
  </button>

  <button class="noselect red" (click)="calcularNivelMadurez()" *ngIf="isActive">
    Evaluación de MM
  </button>

  <div class="grafico">
    <div class="canvas">
      <canvas #grafico></canvas>
    </div>
  </div>

</mat-drawer-container>