<app-navbar></app-navbar>

<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">

                <li class="navPrincipal">CUESTIONARIOS</li>
                <div *ngFor="let cuestionario of listCuestionarios" class="navBar">
                    <li>
                        <a id="listaCuestionarios" (click)="getListCuestionarioById(cuestionario._id)">{{ cuestionario.nombre }}</a>
                    </li>
                </div>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->

<div class=" page-wrapper ">

    <input list="pre" [(ngModel)]="pregunta" (change)="mostrar()" />
    <datalist id="pre">
        <option *ngFor="let p of texto" [value]="p">{{p}}</option>
    </datalist>

    <select id="cursos" [formControl]="tipo">
        <option value="0">Seleccione una gráfica</option>
        <option value="line">line</option>
        <option value="bar">bar</option>
        <option value="polarArea">Polar Area</option>
        <option value="pie">Pie</option>
    </select>
    <button class="btn btn-primary" (click)="calcularNivelMadurez()" *ngIf="isActive">Calcular nivel de madurez</button>
    <button class="btn bttn-secundary" (click)="obtenerPromedio()" *ngIf="listCuestionarios.length > 0 ">Calcular Promedio</button>
    <span>{{madurez}}</span>
    <canvas #grafico style="height: 20vh; width: 40vw;"></canvas>

</div>