.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 20px;
  width: 100%;
}

.btn-sig {
  background-color: #F04F44;
  border-color: #F04F44;
  margin-bottom: 20px;
  margin-top: 20px;
}

.list-group-item {
  cursor: pointer;
}

.textoResp {
  text-transform: uppercase;
  border: none;
}

ul li {
  list-style: none;
  width: 300px;
}

.center {
  display: flex;
justify-content: center;
}

.aline {
  display: flex;
}

.line {
  display: flex;
  flex-direction: row;
}

input[type='radio'] {
  margin-top: 6px;
  transform: scale(1.3);
}

input[type='checkbox'] {
  margin-top: 6px;
  transform: scale(1.3);
}

.btn-next {
  padding-left: 50px;
}

