<!-- <app-navbar></app-navbar> -->
<section id="wrapper">
    <div class="container">

        <div class="card text-center">
            <div *ngIf="indexPregunta == 0">

                <br />
                <br />

                <h1 style="font-size: 40px; font-weight: bold">{{ titulo }}</h1>
                <br />
                <br />

                <p style="font-size: 14px; font-weight: 400">{{ descripcion }}</p>

                <br />
                <br />
            </div>
            <div class="fadein" *ngIf="indexPregunta !== 0">
                <img id="f3" src="../../../../assets/images/logo_ups.png" alt="..." width="120px">
                <img id="f2" src="../../../../assets/images/logo_grupo.png" alt="..." width="120px">
            </div>
            <div class="fadein ic" *ngIf="indexPregunta == 0">
                <img id="f3" src="../../../../assets/images/logo_ups.png" alt="..." width="120px">
                <img id="f2" src="../../../../assets/images/logo_grupo.png" alt="..." width="120px">
            </div>
            <div *ngIf="indexPregunta !== 0">
                <br /><br /><br /><br />
                <br /><br /><br /><br />
                <br /><br />
            </div>
            <div class="area">
                <h4 class="area">
                    {{ obtenerArea() }}
                </h4>
            </div>
            <div>
                <br />
                <br />

                <h4 class="card-title">{{ obtenerPregunta() }}</h4>
                <br />
                <!-- <ul class="list-group"> -->
                <!-- <div class="list-group-item" *ngFor="let respuesta of this.listPreguntas[getIndex()]?.listRespuesta; let i = index;" (click)="respuestaSeleccionada(respuesta, i)" [ngClass]="AddClassOption(respuesta)" >{{respueta.descripcion}} <br>
                        <div *ngIf="respuesta.texto">
                            
                            <input class="textoResp" name="respuesta" type="text" [formControl]="respuestaTexto" (change)="respuestaSeleccionada(respuesta, i)" placeholder="Su respuesta..."/>
                        </div>
                        <div *ngIf="respuesta.tipoRespuesta">
                            <input type="checkbox" [value]="respuesta.descripcion" name="checkbox" /> {{respueta.descripcion}} <br>
                          
                        </div>
                        <div *ngIf="!respuesta.tipoRespuesta">
                            <input type="radio" [value]="respuesta.descripcion" name="radio" />
                        </div>
                        <div *ngIf="!respuesta.texto">
                            {{ respuesta.descripcion }}
                           
                        </div>
                    </div> -->
                <!-- </ul> -->

                <div *ngIf="cargoPregunta && listPreguntas[getIndex()] != undefined">
                    <ul *ngFor="
              let respuesta of listPreguntas[getIndex()].listRespuesta;
              let i = index
            ">
                        <div class="center">
                            <div class="aline">
                                <li class="list-group-item" *ngIf="respuesta.tipoRespuesta && !respuesta.texto">
                                    <div class="line">
                                        <input [id]="i" type="checkbox" [name]="listPreguntas[getIndex()].descripcion"
                                            (change)="respSelect($event.target.value, i)"
                                            (click)="respuestaSeleccionada(respuesta, i, true)"
                                            [ngClass]="AddClassOption(respuesta)" />
                                        <div style="width: 20px"></div>
                                        <label [for]="i">{{ respuesta.descripcion }}</label>
                                    </div>
                                </li>
                                <li class="list-group-item" *ngIf="!respuesta.tipoRespuesta && !respuesta.texto">
                                    <div class="line">
                                        <input [id]="i" type="radio" [name]="listPreguntas[getIndex()].descripcion"
                                            (change)="respSelect($event.target.value, i)"
                                            (click)="respuestaSeleccionada(respuesta, i, false)"
                                            [ngClass]="AddClassOption(respuesta)" />

                                        <label [for]="i">{{ respuesta.descripcion }}</label>
                                    </div>
                                </li>
                                <li class="list-group-item" *ngIf="respuesta.texto">
                                    <input class="textoResp" name="respuesta" type="text" [formControl]="respuestaTexto"
                                        (change)="respuestaSeleccionada(respuesta, i, false)"
                                        placeholder="Su respuesta" />
                                </li>
                            </div>
                        </div>
                    </ul>
                </div>

                <div class="mt-auto btn-next">
                    <button class="btn btn-primary btn-lg btn-sig" [disabled]="!rtaConfirmada"
                        (click)="siguiente(contador)">
                        Siguiente
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>