<div class="card" style="width: 100%;">
    <div style="text-align: center;">
        <img style="border-radius: 10px;" src="https://lobster-app-mesmx.ondigitalocean.app/api/noticia/view/{{data.nombreImagen}}" width="450px" alt="Noticias">
    </div>
    <div class="card-body" style="text-align: justify; text-justify: inter-word;">
      <h5 class="card-title" style="font-size: 18px; font-weight: bold;">{{data.titulo}}</h5>
      <h5 class="card-subtitle" style="font-size: 16px; font-weight: bold;">{{data.descripcion}}</h5>
      <br>
      <p class="card-text" style="font-size: 15px;">{{data.texto}}</p>
    </div>
  </div>
