.slider {
  display: flex;
}

img {
  /* filter: drop-shadow(51px 14px gold); */
  width: 100%;
  filter: drop-shadow(0px 0px 4px white);
  padding: 2px 5px 2px 15px;
}

.princi { 
  width: 200px; 
  height: 40px;


}

p{
  color: rgb(196, 196, 196);
  font-size: 12px;
  font-style: italic;
  font-family:  sans-serif;
  text-align: center;
}

.texto{
  font-size: 16px;
}

.social {
height: 20px;
}

.piec {
  width: auto; 
  height: 40px;
}

.social{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    margin-top: 40px;

}
.textpie 
{
  margin-top: 40px;
}

body,

html {
  background-color: #ddd;
  margin: 0px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: #000;
  color: #fff;
  font-family: 'Times-New-Roman';

}

.grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  grid-gap: 0.5%;
  background-color: #fff;
}

.box {
  background-color: #444;
  color: #fff;
  padding: 4px;
}


/*TITULO PRINCIPAL*/


ul li {
  list-style: none;
  width: 300px;
}

.center {
  display: flex;
justify-content: center;
}

.aline {
  display: flex;
}

.line {
  display: flex;
  flex-direction: row;
}

input[type='radio'] {
  margin-top: 6px;
  transform: scale(1.3);
}

input[type='checkbox'] {
  margin-top: 6px;
  transform: scale(1.3);
}

.btn-next {
  padding-left: 50px;
}

h4 .area{ 
  font-weight: bold;
}

.fadein {
  position:absolute;
  top:0px;
  left:50%;
  /* margin:auto; */
}
.fadein img {
  position:absolute;
  left:-65px;
  top:60px;
  -webkit-animation-name: fade;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 6s;
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 6s;
}

@-webkit-keyframes fade {
  0% {opacity: 0;}
  20% {opacity: 1;}
  33% {opacity: 1;}
  53% {opacity: 0;}
  100% {opacity: 0;}
}
@keyframes fade {
  0% {opacity: 0;}
  20% {opacity: 1;}
  33% {opacity: 1;}
  53% {opacity: 0;}
  100% {opacity: 0;}
}

#f2 {
  -webkit-animation-delay: -4s;
}
#f3 {
  -webkit-animation-delay: -2s;
}

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');



svg {
    display: block;
    font: 3.0em 'Anton', sans-serif;
    width: 140%;
    height: 100px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 1px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
  stroke: #12123e;
  animation-delay: -1;
}

.text-copy:nth-child(2){
  stroke: #5f5f66;
  animation-delay: -2s;
}

.text-copy:nth-child(3){
  stroke: #9fa7b9;
  animation-delay: -3s;
}

.text-copy:nth-child(4){
  stroke: #fcfc73;
  animation-delay: -4s;
}

.text-copy:nth-child(5){
  stroke: #fefefe;
  animation-delay: -5s;
}

@keyframes stroke-offset{
  100% {stroke-dashoffset: -35%;}
}
/* Titulo */ 

.tituloDiv {
  position: relative;
  padding: 10px;
  margin: 20px;
  border-style: none;
}

 #tituloP { 
  position: absolute;
  top:100px;
  left:0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 55%;
  padding: 1px;
  margin: 2px;
  border-radius: 12px;
  border-style: none;
  /* filter: blur( 6px); */
  transform: scale(4.2);
  box-shadow: 5px 5px 100px rgba(0,0,0,0.6);
  
}


h1 .tit { 
  background: rgb(55 81 126);
  font-size:  250px;
  text-align: center;
  font-weight: 400;
  border-radius: 15px;
  border-style: none;
}



#hero {
  margin: 6px 0;
  padding: 70px 0 0 0 !important;
  width: 100% !important;
  height: 100%;
  object-fit: cover !important;
  /* height: auto;
  /* background-image: url("http://2.bp.blogspot.com/-xmjmQzG1SE8/VC2L9UZNYbI/AAAAAAAAikU/QGO0KFnjANk/s1600/Abstract%2BTriangles%2BWallpapers%2B2.jpg"); */
  /* background-image: url("https://yaoware.com/wp-content/uploads/2019/03/banner-diagrama-15seg.gif"); */
  /* background-blend-mode: hard-light;
  background-position-x: 100%;
    background-position-y: 25%;
    mix-blend-mode: multiply;
    transform: scale(1.0); */ 
  
}

#imgprincipal{
  padding: 20px;
  width: 80%;
  height: 80%;
  margin: 100px;
  margin-top: 30px;
}
/*Titulo Principal*/
html, body{
  height: 100vh;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
}

#text{
  height: 20vw;
  stroke-dasharray: 4004;
  stroke-dashoffset: 300;
  animation: 90s fillSvg linear;
}

@keyframes fillSvg{
  0%{
      stroke-dashoffset: 4004;
  }
  100%{
      stroke-dashoffset: 0;
  }
}

/**BOTON
/* From uiverse.io by @adamgiebl */
.only {
  --green: hwb(184 11% 1%);
  font-size: smaller;
  /* padding: 0.7em 2.7em; */
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(27, 253, 253, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
  
 }
 .btnR{
  position: absolute;
 }
 
 .only:hover {
  color: hsl(188, 100%, 75%);
  box-shadow: inset 0 0 10px rgba(27, 238, 253, 0.6), 0 0 9px 3px rgba(27, 234, 253, 0.2);
  cursor: pointer;
 }
 
 .only:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform .4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
 }
 
 .only:hover:before {
  transform: translateX(15em);
 }


 /* carrusel */
 .product-item .product-item-content {
  border: 1px solid var(--surface-d);
  border-radius: 3px;
  margin: 0.3rem;
  text-align: center;
  padding: 2rem 0;
}
.product-item .product-image {
  width: 40%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

video{
  position: relative;
  width: 100%;

  
}
 .only{
  position: absolute;
  /* top: 480px; right: 40px; */
  top: 18%; 
  width: 19%;
  height: 4%;
  right: 2%;
}