<div class="row">

    <div class="col-md-12">
        <div class="card cardList">
            <div class="card-body">
                <form [formGroup]="cuestionarioForm" (ngSubmit)="crearPreguntas()">

                    <h3 class="card-title">Crear Cuestionarios</h3>
                    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                    <input type="text" class="form-control" placeholder="Ingrese el título del cuestionario"
                        formControlName="titulo">

                    <div class="text-danger"
                        *ngIf="cuestionarioForm.get('titulo').hasError('required') && cuestionarioForm.get('titulo').touched">
                        El titulo <strong>es obligatorio</strong>
                    </div>


                    <div class="form-group">
                        <br />
                        <textarea class="form-control" placeholder="Ingrese una descripción del cuestionario" rows="5"
                            formControlName="descripcion">
                    </textarea>

                        <div class="text-danger"
                            *ngIf="cuestionarioForm.get('descripcion').hasError('required') && cuestionarioForm.get('descripcion').touched">
                            La descripcion <strong>es obligatorio</strong>

                        </div>

                    </div>

                    <div class="col">
                        <div class="col-md-2">
                            <input type="text" class="form-control text-center" placeholder="Puntaje"
                                formControlName="puntaje">
                            <div class="text-danger pt"
                                *ngIf="cuestionarioForm.get('puntaje').hasError('required') && cuestionarioForm.get('puntaje').touched">
                                El Puntaje <strong>es obligatorio</strong>

                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="row">
                                <div class="col">
                                    <label for="">Empresa</label>
                                </div>
                                <div class="col">
                                    <mat-select placeholder="Selecciona" (valueChange)="obtenerEmpresa($event)">
                                        <mat-option *ngFor="let emp of empresas; let i = index;" [value]="emp">
                                            {{ emp }}
                                        </mat-option>
                                    </mat-select>
                                </div>
                                <div class="col">
                                    <!-- <button type="button" (click)="agregarEmpresa()">Agregar</button> -->
                                    <i class="fa fa-edit icon float-right" style="color: #168116"
                                        (click)="agregarEmpresa()" title="Editar"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="row">
                                <div class="col">
                                    <label for="">Dirigido a</label>
                                </div>
                                <div class="col">
                                    <mat-select placeholder="Selecciona" (valueChange)="obtenerTipoPersona($event)">
                                        <mat-option *ngFor="let dirigido of dirigidos; let i = index;"
                                            [value]="dirigido">
                                            {{ dirigido }}
                                            <!-- <button class="deleteButton" type="button" (click)="eliminarTipoP(i, dirigido)">X</button> -->
                                        </mat-option>
                                    </mat-select>
                                </div>
                                <div class="col">
                                    <i class="fa fa-edit icon float-right" style="color: #168116"
                                        (click)="agregarDirigido()" title="Editar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col">
                                    <label for="">Tipo Cuestionario</label>
                                </div>
                                <div class="col">
                                    <mat-select placeholder="Selecciona" (valueChange)="obtenerTipo($event)">
                                        <mat-option *ngFor="let tipo of tipos" [value]="tipo">
                                            {{ tipo }}
                                        </mat-option>
                                    </mat-select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-10">
                            <button [disabled]="cuestionarioForm.invalid"
                                class="btn btn-info btn-md text-uppercase float-right" type="submit">Nuevo
                                Cuestionario</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card cardList">
            <h3>Crear área</h3>
            <div class="card-body">
                <div class="row mt-4">
                    <input type="text" class="form-control" name="nombre" placeholder="Nombre del área"
                        [(ngModel)]="nombreArea">
                </div>
                <div class="row mt-4">
                    <input type="text" class="form-control" name="descripcion" placeholder="Descripción del área"
                        [(ngModel)]="descripcionArea">
                </div>
                <div class="row mt-4">
                    <input type="text" class="form-control" name="valor" placeholder="Valor del área"
                        [(ngModel)]="valorArea">
                </div>
                <div class="row mt-4">
                    <button class="btn btn-success" (click)="crearArea()">Crear</button>
                </div>
                <hr>
                <h3>Áreas</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <td scope="col">Área</td>
                            <td scope="col">Descripción</td>
                            <td scope="col">Valor</td>
                            <td scope="col">Acciones</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let area of areas; let i = index;">
                            <td>{{ area.area }}</td>
                            <td>{{ area.descripcion }}</td>
                            <td>{{ area.valor }}</td>
                            <td><button class="btn btn-danger" (click)="eliminarArea(area._id, i)">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<h3 *ngIf="cuestionarios.length == 0" class="text-center">No hay cuestionarios para mostrar</h3>

<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>

<div class="card-body">
    <div class="row">
        <div class="column col-md-6" *ngFor="let cuestionario of cuestionarios">
            <!-- <div class="col-md-6"> -->
            <div class="card sizeCard">
                <div class="card-body cardList">
                    <h4 class="card-title">{{ cuestionario.nombre }}</h4>
                    <!-- <p class="card-text">{{ cuestionario.descripcion }}</p> -->
                    <a href="{{url}}/validarIngreso/{{ cuestionario._id }}" class="card-text">{{url}}/validarIngreso/{{
                        cuestionario._id }}</a>
                    <hr>
                    <i class="fa fa-eye icon" style="color: #2269C7"
                        routerLink="../ver-cuestionario/{{ cuestionario._id }}"></i>

                    <i class="fa fa-times icon" (click)="eliminarCuestionario( cuestionario )"
                        style="color: #EF2421;"></i>

                    <i class="fa fa-bar-chart-o icon" routerLink="../estadisticas/{{ cuestionario._id }}"></i>

                    <i class="fa fa-copy icon" style="color: #42910D;" (click)="crearLink(cuestionario)"></i>
                </div>
            </div>
        </div>
    </div>
</div>