<div class="headTipo">
    <input class="Atipo" type="text" [(ngModel)]="nombre" />
    <button class="btnI" (click)="agregarEmpresa()"><i class="fa fa-plus-square float-right" style="color: #168116; font-size:xx-large; " 
     title="Agregar nuevo"></i></button>
</div>
<p-table [value]="empresas" dataKey="id" styleClass="p-datatable-customers" [rows]="10"
    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" responsiveLayout="scroll" [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0">
    <ng-template pTemplate="header">
        <tr>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-empresa>
        <tr>
            <td>{{empresa.nombre}}</td>
            <button class="btn btn-danger" (click)="eliminar(empresa.nombre)" >Eliminar</button>
        </tr>
    </ng-template>
</p-table>