.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-ing {
  margin-top: 8px;
  background-color: #F05F44;
  border-color: #F05F44;
  color: white;
}

.row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.cardList {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
