section {
  padding: 0 !important;
}

.login-register {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  padding: 6% 0;
  position: fixed;
}

  .login-box {
    width: 500px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8) ;
    /*opacity: .95;*/
    border-radius: 10px;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);

  }

  .login-box .footer {
    width: 100%;
    left: 0px;
    right: 0px;
  }

  .login-box .social {
    display: block;
    margin-bottom: 30px;
  }

#recoverform {
  display: none;
 }

.login-sidebar {
  padding: 0px;
  margin-top: 0px;
}

.login-sidebar .login-box {
  right: 0px;
  position: absolute;
  height: 100%;
}

.fondoL {
  background: linear-gradient( #eeeef1, #37517ea8);
}

.text-center {
  width: 100%;
}

.text-left {
  width: 50%;
  margin-right: 100px;
}

small {
  opacity: 50%;
}