<!-- <app-navbar></app-navbar> -->
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="">
    <div class="login-register fondoL">
        <div class="login-box card">
            <div class="card-body">
                <div class="text-center">
                    <h2>Test de Transformación Digital</h2>
                </div>
                <!-- <div class="form-group m-t-20">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" placeholder="Ingrese nombre y apellido"
                            [(ngModel)]="nombreParticipante" (keyup)="validar()" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" required="" placeholder="Ingrese su correo electrónico"
                            [formControl]="email" (keyup)="validar()" />
                        <div *ngIf="email.touched && email.invalid">
                            <math-error *ngIf="email.hasError('email')">Correo no válido </math-error>
                        </div>
                    </div>
                </div> -->

                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" placeholder="Ingrese la Institución a la que pertenece"
                            [(ngModel)]="institucionParticipante" disabled />

                    </div>
                </div>
                
                <div class="row">
                    <div class="text-left">
                        <small style="padding-bottom: 10px; padding-left: 20px;">Seleccione su lugar de origen</small>
                    </div>
                    <div class="form-group col-md-6">
                        <select class="form-control" (change)="onSelect($event.target.value)"
                            [(ngModel)]="provinciaParticipante">
                            <option value="" selected disabled> Seleccione la provincia </option>
                            <option *ngFor="let provincia of provincias" value="{{provincia.id}}">
                                {{ provincia.id }}
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        <select class="form-control" [(ngModel)]="ciudadParticipante"
                            (change)="getCuidad($event.target.value)">
                            <option value="" selected disabled> Seleccione el cantón </option>
                            <option *ngFor="let canton of cantones" value="{{ canton.nombreCanton }}">
                                {{ canton.nombreCanton }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="checkbox checkbox-primary p-t-0">
                            <input id="checkbox-signup" type="checkbox" (change)="validarCkeck()" />
                            <label for="checkbox-signup">
                                Acepto todos los términos y condiciones.
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10"
                            (click)="siguiente()" [disabled]="!ok">
                            Siguiente
                        </button>
                        <a class="btn btn-inverse waves-effect waves-light" href="https://ups.edu.ec">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->