<div class="row">
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card cardList">
            <div class="card-body">
                <form class="form p-t-20">
                    <div class="m-t-30 text-center">
                        <img [src]="usuario.imagenUrl" class="img-circle" width="150" />
                        <h4 style="padding: 20px">{{ usuario.nombre }}</h4>
                        <h6 class="card-subtitle">{{ usuario.email }}</h6>
                    </div>
                </form>
            </div>
            <div>
                <hr/>
            </div>
        </div>
    </div>

    <!-- Tabs Post, blog, editar perfil -->

    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card cardList">
            <!-- Nav tabs -->

            <div class="row">
                <div class="col-12">
                    <ul class="nav nav-tabs profile-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#post" role="tab">Mis Posts</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="tab-content">
                <div class="tab-pane active" id="post" role="tabpanel" aria-expanded="true">
                    <div class="card-body">
                        <div class="profiletimeline">
                            <div class="sl-item" *ngFor="let post of posts">
                                <div class="sl-left"> <img src="../../../assets/images/icon/articulo.png" alt="user" class="img-circle"> </div>
                                <div class="sl-right">
                                    <div>
                                        <i class="fa fa-trash icon float-right" (click)="eliminarPost( post )" style="color: #EF2421;"></i>
                                        <i class="fa fa-edit icon float-right" style="color: #168116" [routerLink]="['/dashboard/editarPost', post._id]"></i>
                                        <i class="fa fa-eye icon float-right" style="color: #2269C7" (click)="verContenidoPost(post)"></i>

                                        <a>{{ post.titulo }}</a>
                                        <span class="sl-date"> 5 minutes ago</span>
                                        <p> {{ post.descripcion }} </p>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div>
    <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10 add" routerLink="./nuevopost">
    <i class="fa fa-plus"></i></button>
</div>
