<div class="row">
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card cardList">
            <div class="card-body">
                <form class="form p-t-20">
                    <div class="m-t-30 text-center">
                        <img [src]="usuario.imagenUrl" class="img-circle" width="150" />
                        <h4 style="padding: 20px">{{ usuario.nombre }}</h4>
                        <h3 class="card-subtitle">{{ usuario.email }}</h3>
                    </div>
                </form>
            </div>
            <div>
                <hr />
            </div>
        </div>
    </div>

    <!-- Tabs Post, blog, editar perfil -->

    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card cardList">
            <!-- Nav tabs -->
            <mat-tab-group (selectedTabChange)="opcionTab($event)">
                <mat-tab label="Mis Artículos">
                    <div class="card-body">
                        <div class="profiletimeline">
                            <div class="sl-item" *ngFor="let post of posts">
                                <div class="sl-left"> <img src="../../../assets/images/icon/articulo.png" alt="user"
                                        class="img-circle"> </div>
                                <div class="sl-right">
                                    <div>
                                        <i class="fa fa-trash icon float-right" (click)="eliminarPost( post )"
                                            style="color: #EF2421;" title="Eliminar"></i>
                                        <i class="fa fa-edit icon float-right" style="color: #168116"
                                            [routerLink]="['/dashboard/editarPost', post._id]" title="Editar"></i>
                                        <i class="fa fa-eye icon float-right" style="color: #2269C7"
                                            (click)="verContenidoPost(post)" title="Ver"></i>

                                        <a>{{ post.titulo }}</a>
                                        <span class="sl-date"> Hace 5 minutos </span>
                                        <p> {{ post.descripcion }} </p>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Mis Noticias">
                    <div class="card-body">
                        <div class="profiletimeline">
                            <div class="sl-item" *ngFor="let noticia of noticias">
                                <div class="sl-left"> <img src="../../../assets/images/icon/articulo.png" alt="user"
                                        class="img-circle"> </div>
                                <div class="sl-right">
                                    <div>
                                        <i class="fa fa-edit icon float-right" style="color: #168116" (click)="openDialogEditarNoticia(noticia)" ></i>
                                        <a>{{ noticia.titulo }}</a>
                                        <span class="sl-date"> Hace 5 minutos </span>
                                        <p> {{ noticia.descripcion }} </p>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
<div>
    <button *ngIf="opcion == 0"
        class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10 add"
        routerLink="./nuevopost">
        <i class="fa fa-plus"></i></button>

    <button *ngIf="opcion == 1"
        class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10 add"
        (click)="openDialog()">
        <i class="fa fa-plus"></i></button>

</div>